<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
<p class="errortext">Something's not right. Care to <a href="/">try again?</a> It was probably one of these:</p>
<div id="explenationtext"><p class="littletext">
&#35;One of the default, indetifier hashtags was edited <br />
&#35;The connection is too slow – the authentication is canceled after twenty seconds <br />
&#35;You typed in a Twitter handle different than the account you tweeted from <br />
&#35;Your tweet could not be found or I lost count. 
</p></div>
</body>
</html>